{% extends 'layouts/layout.html' %}
{% block title  %}
    Mỹ phẩm Đẹp
{% endblock  %}
{% block header %}
  <header id="header_outer">
  <div class="container">
    <div class="header_section">
      <div class="logo"><a href="javascript:void(0)"><img src="{{url_for('static',filename='css_js_client/img/logob.png')}}" alt="Lỗi hình ảnh"></a></div>
      <nav class="nav" id="nav">
        <ul class="toggle">
          <li><a href="/">Trang chủ</a></li>
          <li>{{Chuoi_HTML_Khach_hang}}</li>
          {{Chuoi_QL_Dang_nhap}}
          <li><a href="#contact">Liên hệ</a></li>
        </ul>
        <ul class="">
          <li><a href="/">Trang chủ</a></li>
          <li>{{Chuoi_HTML_Khach_hang}}</li>
          {{Chuoi_QL_Dang_nhap}}
          <li><a href="#contact">Liên hệ</a></li>
        </ul>
      </nav>
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a> </div>
  </div>
</header>

{% endblock header %}
{% block content %}

  <div class="c-logo-part-1"><!--c-logo-part-start-->
  <div class="container">
    <ul class="delay-06s animated  bounce wow animated" style="visibility: visible; animation-name: bounce;">
      <div class="section-title">
      <h2 style="color: white;">Shop Mỹ phẩm "Đẹp"</h2>
    </div>
    </ul>
  </div>
  </div>

<div class="wow fadeInLeft delay-05s animated" style="visibility: visible; animation-name: fadeInLeft;">
  <form name="SearchBar" method="post" class="search-bar"> 
        <input class="animated wow flipInY delay-02s animated button" type="text-search"
          name="Th_Chuoi_tra_cuu" spellcheck="false" autocomplete="off" placeholder="Tìm sản phẩm" value="" />
          <button class="btn" onclick="javascript:submitform()">Tim kiếm </button>
  </form>
<script type="text/javascript">
  function submitform(){
    document.SearchBar.submit()
  }
</script>

{{Chuoi_HTML_Menu}}

</div>
  {{chuoi_the_hien}}
  {{chuoi_modal}}
        
  {{chuoi_HTML_gio_hang}}

{% endblock  %}